.profile__edit-button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../../../images/svg/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: -18px;
    transition: opacity .5s;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        top: 34px;
        right: -28px;
        width: 18px;
        height: 18px;
    }
}