.popup__line {
    opacity: 0.2;
    border: 1px solid #000000;
    width: 358px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.popup__line:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
    .popup__line {
        width: 238px;
    }

    .popup__line:last-of-type {
        margin-bottom: 45px;
    }
}