.header {
    max-width: 880px;
    display: flex;
    margin: 0 auto;
    padding-top: 45px;
}

@media screen and (max-width: 767px) {
    .header {
        max-width: 320px;
        padding-left: 27px;
        padding-top: 28px;
    }
}