.popup__save-button {
    width: 358px;
    margin: 0 auto;
    border: 0;
    background: #000000;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 37px;
    padding-top: 14px;
    padding-bottom: 18px; 
    cursor: pointer;
    transition: opacity .5s;
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__save-button {
        width: 238px;
    }
}